@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

:root{
    --primary:#199cdb

}

a{
    text-decoration: none;
}


.container{
    padding: 80px 0;
}
.row{
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
/* navigation bar */
.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}
.nav{
    width: 100%;
    height: 80px;
    
}

.nav__logo{
    font-size: 24px;
    color:var(--primary)
}

.nav__link{
    margin: 0 8%;
}

.nav__link__button{
    padding: 8px 12px;
    background-color: var(--primary);
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 4px;
}

/* header */
.header__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.header__title{
    font-size: 36px;

}

.header__button{
    background-color: var(--primary);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;

}

.header__image{
    max-width: 100%;

}

/* products */
#products{
    background-color: #f6f6f6

}

.products__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.products__title{
    font-size: 32px;


}
.products__para{
    max-width: 600px;
    line-height: 1.5;
}

.products__cards{
    display: flex;
    flex-wrap: wrap;
}
 .card{
    width: calc(100% / 3);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
 }
 .card__icon{
    background-color: var(--primary);
    color: white;
    width: 72px;
    height: 72px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 28px;
    border-radius: 99px;

 }
 .card__title{
    font-size: 24px;
    font-weight: 500;

 }

 .card__para{
    font-size: 14px;
    line-height: 1.5;
 }

 /* features */

 .features__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
 }

 .features__title{
    font-size: 32px;
 }

 .features__para{
    max-width: 600px;
    line-height: 1.5;
 }

 .feature{
    display: flex;
    gap: 64px;
    margin-top: 64px;
    max-width: 800px;
 }


.feature__image{
    width: 50%;
}

.feature__text{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content:center;
    align-items: start;
    gap: 8px;
}
.feature__title{
    font-size: 24px;
}
.feature__link{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
}

.feature__link:hover{
    border-bottom: 1px solid var(--primary);
}